# Compamy Data  Question 1

In [82]:
import pandas as pd 
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [170]:
company=pd.read_csv('Company_Data.csv')
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [171]:
company['ShelveLoc']=company['ShelveLoc'].map({'Good':3,'Medium':2,'Bad':1})
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,1,42,17,Yes,Yes
1,11.22,111,48,16,260,83,3,65,10,Yes,Yes
2,10.06,113,35,10,269,80,2,59,12,Yes,Yes
3,7.40,117,100,4,466,97,2,55,14,Yes,Yes
4,4.15,141,64,3,340,128,1,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,3,33,14,Yes,Yes
396,6.14,139,23,3,37,120,2,55,11,No,Yes
397,7.41,162,26,12,368,159,2,40,18,Yes,Yes
398,5.94,100,79,7,284,95,1,50,12,Yes,Yes
399,9.71,134,37,0,27,120,3,49,16,Yes,Yes

In [172]:
company=pd.get_dummies(company,columns=['Urban','US'],drop_first=True)
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban_Yes,US_Yes
0,9.50,138,73,11,276,120,1,42,17,1,1
1,11.22,111,48,16,260,83,3,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,1,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,3,33,14,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1
397,7.41,162,26,12,368,159,2,40,18,1,1
398,5.94,100,79,7,284,95,1,50,12,1,1
399,9.71,134,37,0,27,120,3,49,16,1,1

In [173]:
company['Sales'] = pd.cut(x=company['Sales'], bins=[0, 5, 10, 15,20,100],labels=['Poor','Below Average','Good','Very Good','Excellect'])
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban_Yes,US_Yes
0,Below Average,138,73,11,276,120,1,42,17,1,1
1,Good,111,48,16,260,83,3,65,10,1,1
2,Good,113,35,10,269,80,2,59,12,1,1
3,Below Average,117,100,4,466,97,2,55,14,1,1
4,Poor,141,64,3,340,128,1,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,Good,138,108,17,203,128,3,33,14,1,1
396,Below Average,139,23,3,37,120,2,55,11,0,1
397,Below Average,162,26,12,368,159,2,40,18,1,1
398,Below Average,100,79,7,284,95,1,50,12,1,1
399,Below Average,134,37,0,27,120,3,49,16,1,1

In [174]:
company['Sales']=company['Sales'].map({'Poor':1,'Below Average':2,'Good':3,'Very Good':4,'Excellent':5})
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban_Yes,US_Yes
0,2.0,138,73,11,276,120,1,42,17,1,1
1,3.0,111,48,16,260,83,3,65,10,1,1
2,3.0,113,35,10,269,80,2,59,12,1,1
3,2.0,117,100,4,466,97,2,55,14,1,1
4,1.0,141,64,3,340,128,1,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,3.0,138,108,17,203,128,3,33,14,1,1
396,2.0,139,23,3,37,120,2,55,11,0,1
397,2.0,162,26,12,368,159,2,40,18,1,1
398,2.0,100,79,7,284,95,1,50,12,1,1
399,2.0,134,37,0,27,120,3,49,16,1,1

In [175]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        399 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    int64
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban_Yes    400 non-null    uint8
 10  US_Yes       400 non-null    uint8
dtypes: float64(1), int64(8), uint8(2)
memory usage: 29.0 KB

In [177]:
company=company.dropna()

In [182]:
company['Sales']=company['Sales'].astype(int)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5452\3973343815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company['Sales']=company['Sales'].astype(int)

In [183]:
company.corr()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban_Yes,US_Yes
Sales,1.000000,0.056652,0.123010,0.246360,0.026001,-0.375611,0.488848,-0.231146,-0.014487,0.001504,0.152475
CompPrice,0.056652,1.000000,-0.077315,-0.021957,-0.096309,0.585053,0.038496,-0.104320,0.024263,0.070427,0.020029
Income,0.123010,-0.077315,1.000000,0.055241,-0.005362,-0.045616,-0.053473,0.001695,-0.055362,0.031975,0.084668
Advertising,0.246360,-0.021957,0.055241,1.000000,0.267706,0.052495,0.056726,-0.000587,-0.032590,0.038327,0.683497
Population,0.026001,-0.096309,-0.005362,0.267706,1.000000,-0.016978,-0.020690,-0.045347,-0.107122,-0.049747,0.062877
Price,-0.375611,0.585053,-0.045616,0.052495,-0.016978,1.000000,0.051176,-0.115424,0.008760,0.059169,0.068644
ShelveLoc,0.488848,0.038496,-0.053473,0.056726,-0.020690,0.051176,1.000000,0.014031,-0.025772,-0.075472,0.047625
Age,-0.231146,-0.104320,0.001695,-0.000587,-0.045347,-0.115424,0.014031,1.000000,0.004833,0.034842,0.014090
Education,-0.014487,0.024263,-0.055362,-0.032590,-0.107122,0.008760,-0.025772,0.004833,1.000000,-0.031567,-0.077023
Urban_Yes,0.001504,0.070427,0.031975,0.038327,-0.049747,0.059169,-0.075472,0.034842,-0.031567,1.000000,0.042084
US_Yes,0.152475,0.020029,0.084668,0.683497,0.062877,0.068644,0.047625,0.014090,-0.077023,0.042084,1.000000

In [184]:
x=company.iloc[:,1:]
y=company['Sales']
x

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban_Yes,US_Yes
0,138,73,11,276,120,1,42,17,1,1
1,111,48,16,260,83,3,65,10,1,1
2,113,35,10,269,80,2,59,12,1,1
3,117,100,4,466,97,2,55,14,1,1
4,141,64,3,340,128,1,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,3,33,14,1,1
396,139,23,3,37,120,2,55,11,0,1
397,162,26,12,368,159,2,40,18,1,1
398,100,79,7,284,95,1,50,12,1,1
399,134,37,0,27,120,3,49,16,1,1

In [185]:
y

0      2
1      3
2      3
3      2
4      1
      ..
395    3
396    2
397    2
398    2
399    2
Name: Sales, Length: 399, dtype: int32

In [186]:
seed=3
num_trees=30
Kfold=KFold(n_splits=10,random_state=seed,shuffle=True)
cart=DecisionTreeClassifier()
model_B_1=BaggingClassifier(base_estimator=cart,n_estimators=num_trees,random_state=seed)
Result=cross_val_score(model_B_1,x,y,cv=Kfold)
print(Result.mean())

0.6943589743589744

In [187]:
from sklearn.ensemble import RandomForestClassifier
X=company.drop(['Sales'],axis=1)
Y=company['Sales']

In [188]:
num_trees=30 
Kfold=KFold(n_splits=10,random_state=seed,shuffle=True)
model_RF_1=RandomForestClassifier(n_estimators=num_trees,max_features=3)
Result=cross_val_score(model_RF_1,X,Y,cv=Kfold)
print(Result.mean())

0.6868589743589743

In [189]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [190]:
model_B_1.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=30,
                  random_state=3)

In [194]:
y_pred=model_B_1.predict(x_test)

In [195]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       0.71      0.42      0.53        12
           2       0.78      0.85      0.81        53
           3       0.53      0.57      0.55        14
           4       0.00      0.00      0.00         1

    accuracy                           0.73        80
   macro avg       0.51      0.46      0.47        80
weighted avg       0.71      0.72      0.71        80

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Fraud Question 2

In [208]:
fraud=pd.read_csv('Fraud_check.csv')
fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [209]:
fraud["TaxStatus"] = pd.cut(x=fraud['Taxable.Income'], bins = [0,30000,1000000], labels = ["Risky", "Good"])
fraud=fraud.drop('Taxable.Income',axis=1)
fraud

    Undergrad Marital.Status  City.Population  Work.Experience Urban TaxStatus
0          NO         Single            50047               10   YES      Good
1         YES       Divorced           134075               18   YES      Good
2          NO        Married           160205               30   YES      Good
3         YES         Single           193264               15   YES      Good
4          NO        Married            27533               28    NO      Good
..        ...            ...              ...              ...   ...       ...
595       YES       Divorced            39492                7   YES      Good
596       YES       Divorced            55369                2   YES      Good
597        NO       Divorced           154058                0   YES      Good
598       YES        Married           180083               17    NO      Good
599        NO       Divorced           158137               16    NO      Good

[600 rows x 6 columns]

In [210]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
fraud['Undergrad']= label_encoder.fit_transform(fraud['Undergrad'])
fraud['Marital.Status']= label_encoder.fit_transform(fraud['Marital.Status'])
fraud['Urban']= label_encoder.fit_transform(fraud['Urban'])
fraud['TaxStatus']= label_encoder.fit_transform(fraud['TaxStatus'])
fraud

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,TaxStatus
0,0,2,50047,10,1,0
1,1,0,134075,18,1,0
2,0,1,160205,30,1,0
3,1,2,193264,15,1,0
4,0,1,27533,28,0,0
...,...,...,...,...,...,...
595,1,0,39492,7,1,0
596,1,0,55369,2,1,0
597,0,0,154058,0,1,0
598,1,1,180083,17,0,0
599,0,0,158137,16,0,0

In [211]:
X2=fraud.drop(['TaxStatus'],axis=1)
Y2=fraud['TaxStatus']

In [212]:
seed=7
kfold=KFold(n_splits=10,random_state=seed,shuffle=True)
cart=DecisionTreeClassifier()
num_trees=50
model_B_2=BaggingClassifier(base_estimator=cart,n_estimators=num_trees,random_state=seed)
result=cross_val_score(model_B_2,X2,Y2,cv=kfold)
print(result.mean())

0.7383333333333333

In [213]:
num_trees=50 
kFold=KFold(n_splits=10,random_state=seed,shuffle=True)
model_RF_2=RandomForestClassifier(n_estimators=num_trees,max_features=3)
Result=cross_val_score(model_RF_2,X2,Y2,cv=kFold)
print(Result.mean())

0.7483333333333333

In [215]:
X2_train,X2_test,Y2_train,Y2_test=train_test_split(X2,Y2,test_size=0.25,random_state=7)

In [216]:
model_RF_2.fit(X2_train,Y2_train)

RandomForestClassifier(max_features=3, n_estimators=50)

In [217]:
model_RF_2.feature_importances_

array([0.04308774, 0.08278371, 0.55203717, 0.2746524 , 0.04743898])

In [218]:
y_pred_2=model_RF_2.predict(X2_test)

In [219]:
print(classification_report(Y2_test,y_pred_2))

              precision    recall  f1-score   support

           0       0.79      0.96      0.86       119
           1       0.00      0.00      0.00        31

    accuracy                           0.76       150
   macro avg       0.39      0.48      0.43       150
weighted avg       0.62      0.76      0.69       150